.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.App {
  padding: 0px 30px;
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box
}

/* MAIN CARDS WRAPPER START */

.main-card-wrapper,
.main-card__inner-wrapper {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 100px;
}

.main-card-wrapper {
  min-height: 450px;
  background-size: unset;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5vh;
}
.main-card__inner-wrapper {
  flex-flow: column;
  /* background: linear-gradient(90deg, wheat 0%, #f5deb3cc 50%, #f5deb300 100%); */
  width: 100%;
  padding: 100px 5vw;
}

.header-txt {
  color: #404040;
  font-size: 4em;
  max-width: 350px;
  line-height: 1em;
  margin: 0px;
}


/* MAIN CARDS WRAPPER END */



/* CARDS SECTION START */
.cards-wrapper {
  width: 100%;
  margin: 100px auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
}

.cards-item {
  max-width: 300px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 30px;
  box-sizing: border-box;
  grid-gap: 10px;
}

.img-wrapper,
.img-wrapper>img {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}
/* CARDS SECTION END */


/* BUTTONS START */
.main-mint-btn {
  cursor: pointer;
  border-radius: 7px;
  padding: 7px 30px;
  border: 2px solid #404040;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  max-width: 350px;
  background-color: #82b8ca;
}

.main-mint-btn:disabled,
.sm-mint-button:disabled {
  opacity: .5;
  background-color: #bdbdbd;
}
.sm-mint-button {
  background-color: #fff;
  padding: 2px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.main-mint-btn:hover,
.sm-mint-button:hover {
  background-color: #a2e5f4;
  font-weight: bold;
}

a:active,
a:focus,
a:hover {
  color: #f8aad1;
}
.transition-quarter {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.transition-half {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.grow-in {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.grow-in.activated {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.dock-in-up {
  -webkit-transform: translate3d(0, 5%, 0);
  transform: translate3d(0, 5%, 0);
}
.dock-in-up.activated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slide-in-up {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.slide-in-up.activated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slide-in-down.activated {
  -webkit-animation: slideInDown 0.25s linear;
  animation: slideInDown 0.25s linear;
}
.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.delayer0_5s {
  -webkit-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}
@-webkit-keyframes blurIn {
  0% {
    -webkit-filter: blur(6px) grayscale(1);
  }
  35% {
    -webkit-filter: blur(0) grayscale(0.5);
  }
  65% {
    -webkit-filter: blur(0) grayscale(0.25);
  }
  100% {
    -webkit-filter: blur(0) grayscale(0);
  }
}
@keyframes blurIn {
  0% {
    -webkit-filter: blur(6px) grayscale(1);
    filter: blur(6px) grayscale(1);
  }
  35% {
    -webkit-filter: blur(0) grayscale(0.5);
    filter: blur(0) grayscale(0.5);
  }
  65% {
    -webkit-filter: blur(0) grayscale(0.25);
    filter: blur(0) grayscale(0.25);
  }
  100% {
    -webkit-filter: blur(0) grayscale(0);
    filter: blur(0) grayscale(0);
  }
}
.blurIn {
  -webkit-animation-name: blurIn;
  animation-name: blurIn;
}
.btn {
  background: #000;
  border-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 5px;
  cursor: pointer;
  margin: 20px 0 50px;
}
.btn:active,
.btn:focus,
.btn:hover {
  background: #474747;
  border-color: #474747;
}
.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #2f2f2f;
}
.who svg {
  width: 40px;
  height: auto;
  margin-right: 20px;
}
.sticker1 {
  width: 100px;
  position: absolute;
  top: 30%;
}
@media (min-width: 768px) {
  .sticker1 {
    top: 50%;
  }
}
.sticker2 {
  width: 100px;
  position: absolute;
  top: 30%;
  left: 40%;
}
@media (min-width: 768px) {
  .sticker2 {
    top: 60%;
    left: 20%;
  }
}
.linkBody{
  margin: 0 auto; 
  width: 100%; 
  max-width: 85vw; 
  text-align: center;
}
.profileInfo{
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center; 
  margin: 12px 0px 24px; 
  width: 100%;
}
.logoImg {
  height: 200px; 
  width: auto; 
  margin-bottom: 8px;
}
.linkBtn{
  padding: 20px; background-color: black; color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 4px 0px;
  max-width: 700px;
}
.linkBtn:hover{
  border: 2.5px solid #3D3B3C;
  background-color: white;
  color: #3D3B3C;
  padding: 19px;
}
.links {
  display: flex; 
  flex-direction: column; 
  width: 100%;  
  justify-content: center; 
  align-items: center;
}