body {
  margin: 0;
  padding: 0;
  font-family: Neutro, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.hero .app-logo {
  max-width: 10.5rem;
}

.content {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../src/background.jpg) no-repeat center left;
  background-size: cover
}

@media (min-width:768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background: #efefef
}

.content .container {
  margin: 0 auto;
  padding: 0 30px
}

@media (min-width:992px) {
  .content .container {
    max-width: 940px
  }
}

@media (min-width:1200px) {
  .content .container {
    max-width: 1140px
  }
}

@media (min-width:1400px) {
  .content .container {
    max-width: 1340px
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.main-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.img-column {
  margin: 30px 0 0
}

@media (min-width:540px) {
  .img-column {
    margin: -37px 0 0;
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
  }
}

@media (min-width:768px) {
  .img-column {
    margin: 0;
    width: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%
  }
}

@media (min-width:900px) {
  .img-column {
    margin-top: 15px
  }
}

@media (min-width:992px) {
  .img-column {
    width: 38%;
    -ms-flex-preferred-size: 38%;
    flex-basis: 38%;
    margin-top: 0
  }
}

@media (min-width:1200px) {
  .img-column {
    width: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin-top: 15px
  }
}

@media (min-width:1400px) {
  .img-column {
    margin-top: 35px
  }
}

.img-column img {
  display: block;
  max-width: 100%;
  margin: 0 auto
}

@media (min-width:540px) {
  .text-column {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
  }
}

@media (min-width:768px) {
  .text-column {
    width: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
  }
}

@media (min-width:992px) {
  .text-column {
    width: 36%;
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%
  }
}

@media (min-width:1200px) {
  .text-column {
    width: 31%;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%
  }
}

.stickers-column {
  width: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  position: relative;
  min-height: 200px;
  margin: 0 auto
}

@media (min-width:768px) {
  .stickers-column {
    width: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%
  }
}

@media (min-width:992px) {
  .stickers-column {
    width: 26%;
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%
  }
}

@media (min-width:1200px) {
  .stickers-column {
    width: 29%;
    -ms-flex-preferred-size: 29%;
    flex-basis: 29%
  }
}

body {
  font-family: "Neutro", sans-serif;
  color: #2f2f2f
}

h1,
h2,
h3 {
  color: #000;
  font-family: Neutro, sans-serif;
  font-weight: 400
}

h1 {
  font-size: 2.1rem;
  margin-top: 30px;
  opacity: .8
}

@media (min-width:768px) {
  h1 {
    margin-top: 0;
    font-size: 2.75rem
  }
}

p {
  font-size: .9rem;
  margin-bottom: 2.5em
}

a {
  color: #ffffff
}
.piss{
  color: #2f2f2f;
}

a:active,
a:focus,
a:hover {
  color: #f8aad1
}

.transition-quarter {
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.transition-half {
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

.grow-in {
  -webkit-transform: scale(0);
  transform: scale(0)
}

.grow-in.activated {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.dock-in-up {
  -webkit-transform: translate3d(0, 5%, 0);
  transform: translate3d(0, 5%, 0)
}

.dock-in-up.activated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slide-in-up {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0)
}

.slide-in-up.activated {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slide-in-down.activated {
  -webkit-animation: slideInDown .25s linear;
  animation: slideInDown .25s linear
}

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.delayer0_5s {
  -webkit-animation-delay: .5s !important;
  animation-delay: .5s !important
}

@-webkit-keyframes blurIn {
  0% {
    -webkit-filter: blur(6px) grayscale(1)
  }

  35% {
    -webkit-filter: blur(0) grayscale(.5)
  }

  65% {
    -webkit-filter: blur(0) grayscale(.25)
  }

  100% {
    -webkit-filter: blur(0) grayscale(0)
  }
}

@keyframes blurIn {
  0% {
    -webkit-filter: blur(6px) grayscale(1);
    filter: blur(6px) grayscale(1)
  }

  35% {
    -webkit-filter: blur(0) grayscale(.5);
    filter: blur(0) grayscale(.5)
  }

  65% {
    -webkit-filter: blur(0) grayscale(.25);
    filter: blur(0) grayscale(.25)
  }

  100% {
    -webkit-filter: blur(0) grayscale(0);
    filter: blur(0) grayscale(0)
  }
}

.blurIn {
  -webkit-animation-name: blurIn;
  animation-name: blurIn
}

.btn {
  background: #000;
  border-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 5px;
  cursor: pointer;
  margin: 20px 0 50px
}

.btn:active,
.btn:focus,
.btn:hover {
  background: #474747;
  border-color: #474747
}

.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  font-size: .9rem;
  color: #2f2f2f
}

.who svg {
  width: 40px;
  height: auto;
  margin-right: 20px
}

.sticker1 {
  width: 100px;
  position: absolute;
  top: 30%
}

@media (min-width:768px) {
  .sticker1 {
    top: 50%
  }
}

.sticker2 {
  width: 100px;
  position: absolute;
  top: 30%;
  left: 40%
}

@media (min-width:768px) {
  .sticker2 {
    top: 60%;
    left: 20%
  }
}

@font-face {
  font-family: 'Neutro';
  src: local('Neutro'), url(./fonts/Neutro-Bold.otf) format('truetype');
}